# JOINS #

In [7]:
from pyspark.sql import Row, DataFrame
from pyspark import SparkContext, SparkConf
# create entry points to spark
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc=SparkContext()
spark = SparkSession(sparkContext=sc)

In [8]:
row1 = Row("name", "pet", "count")
row2 = Row("name", "vehicle", "count")

df1 = sc.parallelize([
    row1("Sue", "cat", 16),
    row1("Kim", "dog", 1),    
    row1("Bob", "fish", 5),
    row1("Libuse", "horse", 1)
    ]).toDF()

df2 = sc.parallelize([
    row2("Sue", "car", 2),
    row2("Kim", "car", 1),    
    row2("Bob", "bycicle", 2),
    row2("Ferdinand", "boat", 1)
    ]).toDF()

### Inner join ###

Merges rows that have a match in both dataframes and drops all others. This is the default type of join, so the how argument could be omitted here if you didn't wish to be explicit (being explicit is almost always better, however). We will merge on the entries in the name column, which you can see is the second argument in the method; this can also be a list if the merge should happen on more than one matching value:

In [9]:
df1.join(df2, 'name', how='inner').show()

+----+----+-----+-------+-----+
|name| pet|count|vehicle|count|
+----+----+-----+-------+-----+
| Sue| cat|   16|    car|    2|
| Bob|fish|    5|bycicle|    2|
| Kim| dog|    1|    car|    1|
+----+----+-----+-------+-----+

### Outer join ###

In [ ]:
df1.join(df2, 'name', how='').show()

### Left join ###

In [ ]:
df1.join(df2, 'name', how='').show()